<h1>URL Shortener</h1>
<img src="https://image.flaticon.com/icons/png/512/122/122933.png" alt="" class="mx-auto d-block">
{{#if shortenURL}}
<div class="mb-3">
  <h4>Success! Please use this link:</h4>
  <h6 style="color: rgb(0, 112, 231);" id="shortenURL">{{shortenURL}}</h6>
</div>
<button class="btn btn-outline-primary mb-3" id="copyButton">Copy</button>

{{else}}
<form action="/" method="POST">
  <div class="mb-3">
    <input type="url" class="form-control" placeholder="Input URL here" name="URL" required>
  </div>
  <button type="submit" class="btn btn-outline-primary mb-3">Shorten</button>
</form>

{{/if}}