<h1>URL Shortener</h1>
<img src="https://image.flaticon.com/icons/png/512/122/122933.png" alt="" class="mx-auto d-block">

<form action="/" method="POST">
  <div class="mb-3">
    <input type="url" class="form-control" placeholder="Input URL here" name="URL" value="{{originURL}}" required>
  </div>

  <button type="submit" class="btn btn-outline-primary mb-3">Shorten</button>
</form>